<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taxipot_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".di.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".presenter.ui.activity.SelectLocationActivity"></activity>
        <activity android:name=".presenter.ui.activity.FindPartyActivity" />
        <activity android:name=".presenter.ui.fragment.ChattingFragment"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key_name" />

        <activity android:name=".presenter.ui.activity.MakePartyActivity" />
        <activity android:name=".presenter.ui.activity.SignUpActivity" />
        <activity android:name=".presenter.ui.activity.ReportActivity" />
        <activity android:name=".presenter.ui.activity.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presenter.ui.activity.MainActivity" />
    </application>

</manifest>